{% layout 'customers.login' %} <main li-content-for-layout="" class="main-wrapper" section-wrapper="main.main-wrapper"><div class="hide w-embed"><style>body{
    --utility--body-fill: var(--color--pink-light) !important;
    --utility--product-medium: var(--color--lilac-medium) !important;
    --utility--product-dark: var(--color--lilac-dark) !important;
    --utility--product-light: var(--color--lilac-light) !important;
  }
  .page-wrapper,
  .main-wrapper,
  .main-wrapper {
    display: flex!important;
    flex-direction: column;
  }
  .page-wrapper {
    min-height: 100vh;
  }
  .main-wrapper {
    height: 100%;
    flex-grow: 1;
  }
  .footer {
    margin-top: auto;
  }
  .navbar_logo-link{
    color:var(--color--blue);
  }
  .login_video-wrapper {
    .button {
      background-color:var(--color--lilac-medium);
    }
  }
</style></div>{% section 'login' %}
</main>