<div class="w-embed"><style>body{
    --utility--body-fill: var(--color--pink-light) !important;
    --utility--product-medium: var(--color--lilac-medium) !important;
    --utility--product-dark: var(--color--lilac-dark) !important;
    --utility--product-light: var(--color--lilac-light) !important;
  }
  .page-wrapper,
  .main-wrapper{
    display: flex!important;
    flex-direction: column;
  }
  .page-wrapper {
    min-height: 100svh;
  }
  .main-wrapper  {
    height: 100%;
    flex-grow: 1;
  }
  section{
  	flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;&nbsp;&nbsp;
  }
  .footer {
    margin-top: auto;
  }
</style></div><div class="w-layout-blockcontainer w-container"><div lowercase="" class="login_wrapper"><div class="login_container"><div class="login_content"><div class="form_account w-form"><form id="email-form" name="email-form" data-name="Email Form" method="get" class="account_content is-login" data-wf-page-id="65f99dbf57aed29707f8c28a" data-wf-element-id="eac8fad1-e769-7acb-1a16-3dfb4391527f"><h2 class="text-size-medium text-weight-bold">activate account</h2><div class="divider"></div>{% form 'activate_customer_password'  %}
<input class="form-input w-input" maxlength="256" name="customer[password]" data-name="Field 4" placeholder="password" type="password" id="field-4" >

<input class="form-input w-input" maxlength="256" name="customer[password_confirmation]" data-name="" placeholder="Repeat Password" type="password" id="field-5" required="" >

<input type="submit" data-wait="Please Wait" id="w-node-eac8fad1-e769-7acb-1a16-3dfb4391528a-07f8c28a" class="button is-pink w-button" value="Login">
<input type="submit" data-wait="Please Wait" id="w-node-_68efae4d-361e-c47b-fc46-772d9ef1c157-07f8c28a" class="button is-blue w-button" value="Decline" name="decline" >

{% endform %}
</form><div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><video class="video is-video" autoplay="true" muted="" loop="" playsinline="true"><source src="https://cdn.shopify.com/videos/c/o/v/7179c7c405c445b298986ce068a02228.mp4" type="video/mp4">
</video></div></div> {% schema %} {"tag":"section","name":"activate_account","class":"section_login-activate","presets":[{"name":"activate_account","category":"Liquify"}]} {% endschema %}