<div class="w-layout-blockcontainer container_m w-container"><h2 class="heading_small text-align-center">
{{ section.settings.text_subheading }}
</h2>
</div>

{% schema %}
    {"tag":"section","name":"basic_heading","class":"section_heading","settings":[{"id":"text_subheading","type":"text","label":"Subheading","default":"Discover the essential ingredients of our gummies"}],"presets":[{"name":"basic_heading","category":"Liquify"}]}
{% endschema %}
