<div class="w-embed"><style>body {
    --utility--body-fill: var(--color--pink-light);
    --utility--product-medium: var(--color--lilac-medium);
    --utility--product-dark: var(--color--lilac-dark);
    --utility--product-light: var(--color--lilac-light);
  }
</style></div><div class="w-layout-blockcontainer container_xl w-container"><div class="blog_container"><div class="blog_heading-wrapper"><h1 li-object="article.title" class="heading_big">{{ article.title }}</h1><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="blog_image">
</div></div></div><div class="w-layout-blockcontainer container_s w-container"><div class="blog_container is-article"><div li-object="article.content" class="blog_richtext w-richtext">{{ article.content }}</div></div></div> {% schema %} {"tag":"section","name":"blogheading","class":"section_blog-heading","presets":[{"name":"blogheading","category":"Liquify"}]} {% endschema %}