<div class="w-embed"><style>body {
    --utility--body-fill: var(--color--blue);
    --utility--body-text: var(--color--white);
    --utility--body-button: var(--color--white);
  }
</style></div><div class="w-layout-blockcontainer container_xl w-container"><div class="blog-posts_container">
  <div class="ts_maxwidth_64">
  <h1 class="heading_big" li-object="blog.title">{{ blog.title }}</h1>
  </div>
</div></div> {% schema %} {"tag":"section","name":"blog_heading","class":"section_basic-heading","presets":[{"name":"blog_heading","category":"Liquify"}]} {% endschema %}