<div class="w-embed"><style>body {
    --utility--body-fill: var(--color--pink-light);
    --utility--product-medium: var(--color--lilac-medium);
    --utility--product-dark: var(--color--lilac-dark);
    --utility--product-light: var(--color--lilac-light);
  }
</style></div><div class="w-layout-blockcontainer container_m w-container"><div class="blog_container"><h1 li-object="page.title" class="deafult_header">{{ page.title }}</h1></div></div><div class="w-layout-blockcontainer container_s w-container"><div class="blog_container is-article"><div li-object="page.content" class="blog_richtext w-richtext">{{ page.content }}</div></div></div> {% schema %} {"tag":"section","name":"default","class":"section_default","presets":[{"name":"default","category":"Liquify"}]} {% endschema %}