<div class="w-layout-blockcontainer container_xl w-container"><div class="w-layout-hflex faq_heading-wrapper"><div class="science_heading-wrapper"><div class="w-layout-vflex science_heading"><h1 class="heading_big">
{{ section.settings.text_faq_heading }}
</h1>
</div></div><img src="https://uploads-ssl.webflow.com/65c506881726eb05bb74699d/65dcd9f843dd505f2e5ca2cc_images_gummyBear-2-flipped.png" loading="lazy" floating="alt" alt="" class="floatinggummy _16">
<img src="https://uploads-ssl.webflow.com/65c506881726eb05bb74699d/65dcd9f8d28f752869470f58_images_gummyDisc-flipped.png" loading="lazy" floating="alt2" alt="" class="floatinggummy _15">
</div></div>

{% schema %}
    {"tag":"section","name":"faq_header","class":"section_faq-header","settings":[{"id":"text_faq_heading","type":"text","label":"FAQ Heading","default":"Frequently Asked<br>\nQuestions"}],"presets":[{"name":"faq_header","category":"Liquify"}]}
{% endschema %}
