<style>
  .address h3 {
    font-size: 1rem;
    color:#f60da7;
    margin-bottom: 0.2rem
  }

  .address p {
    margin-bottom: 2rem;
    margin-top: 0.2rem;
    font-size: 0.875rem;
  }
</style>

<div style="background-color: #ffcbff;">
  <div class="w-layout-blockcontainer container_l w-container" id="locations">
    <div class="w-layout-vflex spacing_2">
      <div class="grid_4col spacing_2 split-container" style="width:100%; align-items: start ">
        {% for block in section.blocks %}
          
          <div li-block="Card" class="sustainability_card" style="gap:2rem;">
            <img class="sustainability_icon" src="{{ block.settings.image | img_url: 'master'}}" alt="{{ block.settings.image.alt }}" style="height:2rem" loading="lazy">

            <div class="w-layout-vflex spacing_1">
            
                <h3 class="heading_small" style="font-size:1.2rem;">
                    {{  block.settings.heading }}
                </h3>
                <div class="address"> {{block.settings.address}} </div>
            </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
  
  {% schema %}
  {
    "name": "Locations",
    "max_blocks": 8,
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Our Locations"
      }
    ],
    "blocks": [
      {
        "type": "location",
        "name": "Location",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Location Image"
          },
          {
            "type": "text",
            "id": "country",
            "label": "Country Name",
            "default": "Monaco"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Location Name",
            "default": "Location Name"
          },
          {
            "type": "richtext",
            "id": "address",
            "label": "Address",
            "default": "<p>text</p>"
          }
        ]
      }
    ]
  }
  {% endschema %}