<div class="w-embed"><style>body {
    --utility--body-fill: var(--color--pink-light) !important;
    --utility--product-medium: var(--color--lilac-medium) !important;
    --utility--product-dark: var(--color--lilac-dark) !important;
    --utility--product-light: var(--color--lilac-light) !important;
  }
  .page-wrapper,
  .main-wrapper{
    display: flex!important;
    flex-direction: column;
  }
  .page-wrapper {
    min-height: 100svh;
  }
  .main-wrapper  {
    height: 100%;
    flex-grow: 1;
  }
  section{
  	flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;&nbsp;&nbsp;
  }
  .footer {
    margin-top: auto;
  }
</style></div><div class="w-layout-blockcontainer w-container"><div lowercase="" class="login_wrapper"><div class="login_container"><div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="login_content w-tabs"><div class="w-tab-content"><div data-w-tab="Tab 1" class="w-tab-pane w--tab-active"><div class="form_account w-form">{% form 'customer_login' , return_to: '/account', class: 'account_content is-login' %}
{% if form.errors %}    <div li-if="form.errors" class="account_login-error">
    error Message    </div>
{% endif %}<h2 class="text-size-medium text-weight-bold">Login</h2><div class="divider"></div><div>Need a nuchu account? <a href="{{ routes.account_register_url }}" li-object:href="routes.account_register_url" class="text-weight-bold ts_underline">register now</a></div><div class="form_account_wrapper"><input class="form-input w-input" maxlength="256" name="customer[email]" data-name="Field" placeholder="email" type="email" id="field" >

<input class="form-input w-input" maxlength="256" name="customer[password]" data-name="Field 2" placeholder="Password" type="password" id="field-2" required="" >

<input type="submit" data-wait="Please Wait" id="w-node-_4d76c714-c4b6-e68d-38a9-6b9196569359-07f8c297" class="button is-pink w-button" value="Login">
</div><div class="divider"></div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div><div data-w-tab="Tab 2" class="w-tab-pane"><div class="form_account w-form">{% form 'recover_customer_password' , class: 'account_content is-login' %}
<h2 class="text-size-medium text-weight-bold">Reset password</h2><div class="divider"></div><div>In order to receive a new password, you need to enter your email address below, we will send you an email with further instructions immediately.</div><div class="form_account_wrapper"><input class="form-input w-input" maxlength="256" name="email" data-name="Field 3" placeholder="email" type="email" id="field-3" >

<input type="submit" data-wait="Please Wait" id="w-node-_39f65864-3c4a-5bbb-b72b-757db3c73dfe-07f8c297" class="button is-pink w-button" value="Login">
</div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div></div></div><div class="w-tab-menu"><a data-w-tab="Tab 1" class="login_tab w-inline-block w-tab-link w--current"><div>Login</div></a><a data-w-tab="Tab 2" class="login_tab w-inline-block w-tab-link"><div>Forgotten Password?</div></a></div></div></div><video class="video is-video" autoplay="true" muted="" loop="" playsinline="true"><source src="https://cdn.shopify.com/videos/c/o/v/7179c7c405c445b298986ce068a02228.mp4" type="video/mp4">
</video></div></div> {% schema %} {"tag":"section","name":"login","class":"section_login-login","presets":[{"name":"login","category":"Liquify"}]} {% endschema %}