

<style>
    body {
        background-color: var(--color--pink-light)!important'
    }

    .response {
        position: absolute;
        top: 0;
        left: 0;
        background: #ffecff;
        width: 100%;
        height: 100%;
        padding: 2rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
        align-items: flex-start;
        font-weight: 500;
      }

      .password-admin_content {
        transform: translateY(-100vh);
    }
        [data-hover="button"] {
            transform: scale(1);
            transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        cursor: pointer;
          }
          
          [data-hover="button"]:hover {
            transform: scale(1.2);
          }
          
          
</style>

<img src="{{ 'nuchu-testimonial.jpeg' | asset_url }}" loading="lazy" id="w-node-_2c23a13f-9fb2-a621-c5a3-6579f78abe82-07f8c2a0" alt="" class="password_image">
<div class="w-layout-vflex password_content">
    <div class="password-admin_container">
        
        <div class="password_btn" style=" cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 53 53" fill="none" style="width:3.25rem">
            <rect width="53" height="53" rx="26.5" fill="white"></rect>
            <path
                d="M32.125 23H31.1875V21C31.1875 18.24 29.0875 16 26.5 16C23.9125 16 21.8125 18.24 21.8125 21V23H20.875C19.8437 23 19 23.9 19 25V35C19 36.1 19.8437 37 20.875 37H32.125C33.1563 37 34 36.1 34 35V25C34 23.9 33.1563 23 32.125 23ZM26.5 32C25.4687 32 24.625 31.1 24.625 30C24.625 28.9 25.4687 28 26.5 28C27.5313 28 28.375 28.9 28.375 30C28.375 31.1 27.5313 32 26.5 32ZM29.4063 23H23.5937V21C23.5937 19.29 24.8969 17.9 26.5 17.9C28.1031 17.9 29.4063 19.29 29.4063 21V23Z"
                fill="black"></path>
            <path
                d="M32.125 23H31.1875V21C31.1875 18.24 29.0875 16 26.5 16C23.9125 16 21.8125 18.24 21.8125 21V23H20.875C19.8437 23 19 23.9 19 25V35C19 36.1 19.8437 37 20.875 37H32.125C33.1563 37 34 36.1 34 35V25C34 23.9 33.1563 23 32.125 23ZM26.5 32C25.4687 32 24.625 31.1 24.625 30C24.625 28.9 25.4687 28 26.5 28C27.5313 28 28.375 28.9 28.375 30C28.375 31.1 27.5313 32 26.5 32ZM29.4063 23H23.5937V21C23.5937 19.29 24.8969 17.9 26.5 17.9C28.1031 17.9 29.4063 19.29 29.4063 21V23Z"
                fill="#F60EA6"></path>
        </svg>
        </div>

        <div class="password-admin_wrapper">
            <div class="password-admin_content">
               

                <div class="login_form w-form">{% form 'storefront_password' , class: 'form_form is-password' %}
                    <svg class="image_xxl" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 40" fill="currentcolor" height="100%"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.266724V39.7334H10.7508C10.7508 39.7334 10.8861 38.9467 10.8861 37.7357C10.8861 34.9514 10.2721 30.0142 6.29647 26.3294C3.21589 23.4934 2.529 19.0737 2.529 15.5027C2.529 12.3458 3.08059 9.93414 3.08059 9.93414L18.2129 39.7334H30.4V0.266724H19.5867C19.5867 0.266724 19.3161 1.15687 19.3161 2.74051C19.3161 4.73816 19.7949 7.84333 21.918 11.5178C25.1339 17.0864 26.9135 21.2887 26.9135 29.7555C26.9135 31.2252 26.9135 32.8606 26.7782 34.6409L9.58521 0.266724H0Z" fill="currentColor"></path></svg><div class="form_field-wrapper"><input class="form-input password w-input" maxlength="256" name="password" data-name="password" placeholder="Password" type="password" id="password" required="">
                    </div><div class="button-group"><input type="submit" data-wait="" class="button w-button" value="continue">
                    </div>{% endform %}
                    <div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div> 
                    
                    


            </div>
        </div>
    </div>
    <div class="w-layout-vflex spacing_1">
        <h1 lowercase="" class="heading_medium">Are you ready to <br>
            meet your match?</h1>
        <p>Something great is almost ready to be revealed!<p>
        </p>Are you as impatient as we are? Sign up below to be the first to see the reveal!</p>


            <div id="mc_embed_signup" style="width:100%; margin-top:1rem; position:relative;">
                <form action="https://mynuchu.us17.list-manage.com/subscribe/post?u=aa69f16bb91c7bcfe77681908&amp;id=dbb7ffca2c&amp;f_id=00d11ce1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                  <div class="w-layout-vflex spacing_1 ">
                    <input type="text" name="FNAME" id="mce-FNAME" required="" placeholder="your name" class="footer_form-input is-pink full-width">
                    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="email address" value="" required="" class="footer_form-input is-pink full-width">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button is-white" value="Subscribe" class="button is-pink" style="border:none!important;margin-bottom:1rem;marign-top:1rem;">
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                  </div>
                </form>
              </div>

              <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

    </div>
    <div class="w-layout-vflex spacing_1" id="password-social-links">
        <h2 class="heading_very-small">Lets get Social</h2>
        <div class="w-layout-hflex spacing_1"><a class="w-inline-block" href="https://www.instagram.com/hellonuchu/" data-hover="button"> <svg
                    xmlns="http://www.w3.org/2000/svg" viewbox="0 0 53 53" fill="none" class="image_xxl">
                    <rect width="53" height="53" rx="26.5" fill="white"></rect>
                    <g clip-path="url(#clip0_2372_3097)">
                        <path
                            d="M26.5 23.8633C25.7044 23.8633 24.9413 24.1794 24.3787 24.742C23.8161 25.3046 23.5 26.0676 23.5 26.8633C23.5 27.6589 23.8161 28.422 24.3787 28.9846C24.9413 29.5472 25.7044 29.8633 26.5 29.8633C27.2956 29.8633 28.0587 29.5472 28.6213 28.9846C29.1839 28.422 29.5 27.6589 29.5 26.8633C29.5 26.0676 29.1839 25.3046 28.6213 24.742C28.0587 24.1794 27.2956 23.8633 26.5 23.8633ZM26.5 21.8633C27.8261 21.8633 29.0979 22.3901 30.0355 23.3277C30.9732 24.2654 31.5 25.5372 31.5 26.8633C31.5 28.1894 30.9732 29.4611 30.0355 30.3988C29.0979 31.3365 27.8261 31.8633 26.5 31.8633C25.1739 31.8633 23.9021 31.3365 22.9645 30.3988C22.0268 29.4611 21.5 28.1894 21.5 26.8633C21.5 25.5372 22.0268 24.2654 22.9645 23.3277C23.9021 22.3901 25.1739 21.8633 26.5 21.8633ZM33 21.6133C33 21.9448 32.8683 22.2627 32.6339 22.4972C32.3995 22.7316 32.0815 22.8633 31.75 22.8633C31.4185 22.8633 31.1005 22.7316 30.8661 22.4972C30.6317 22.2627 30.5 21.9448 30.5 21.6133C30.5 21.2818 30.6317 20.9638 30.8661 20.7294C31.1005 20.495 31.4185 20.3633 31.75 20.3633C32.0815 20.3633 32.3995 20.495 32.6339 20.7294C32.8683 20.9638 33 21.2818 33 21.6133ZM26.5 18.8633C24.026 18.8633 23.622 18.8703 22.471 18.9213C21.687 18.9583 21.161 19.0633 20.673 19.2533C20.2646 19.4032 19.8954 19.6435 19.593 19.9563C19.28 20.2587 19.0394 20.6279 18.889 21.0363C18.699 21.5263 18.594 22.0513 18.558 22.8343C18.506 23.9383 18.499 24.3243 18.499 26.8633C18.499 29.3383 18.506 29.7413 18.557 30.8923C18.594 31.6753 18.699 32.2023 18.888 32.6893C19.058 33.1243 19.258 33.4373 19.59 33.7693C19.927 34.1053 20.24 34.3063 20.67 34.4723C21.164 34.6633 21.69 34.7693 22.47 34.8053C23.574 34.8573 23.96 34.8633 26.499 34.8633C28.974 34.8633 29.377 34.8563 30.528 34.8053C31.31 34.7683 31.836 34.6633 32.325 34.4743C32.733 34.3236 33.1021 34.0834 33.405 33.7713C33.742 33.4353 33.943 33.1223 34.109 32.6913C34.299 32.1993 34.405 31.6733 34.441 30.8913C34.493 29.7883 34.499 29.4013 34.499 26.8633C34.499 24.3893 34.492 23.9853 34.441 22.8343C34.404 22.0523 34.298 21.5243 34.109 21.0363C33.9583 20.6283 33.718 20.2593 33.406 19.9563C33.1037 19.6431 32.7345 19.4024 32.326 19.2523C31.836 19.0623 31.31 18.9573 30.528 18.9213C29.425 18.8693 29.04 18.8633 26.5 18.8633ZM26.5 16.8633C29.217 16.8633 29.556 16.8733 30.623 16.9233C31.687 16.9733 32.413 17.1403 33.05 17.3883C33.71 17.6423 34.266 17.9863 34.822 18.5413C35.3305 19.0412 35.724 19.6459 35.975 20.3133C36.222 20.9503 36.39 21.6763 36.44 22.7413C36.487 23.8073 36.5 24.1463 36.5 26.8633C36.5 29.5803 36.49 29.9193 36.44 30.9853C36.39 32.0503 36.222 32.7753 35.975 33.4133C35.7246 34.081 35.3311 34.6859 34.822 35.1853C34.322 35.6936 33.7173 36.087 33.05 36.3383C32.413 36.5853 31.687 36.7533 30.623 36.8033C29.556 36.8503 29.217 36.8633 26.5 36.8633C23.783 36.8633 23.444 36.8533 22.377 36.8033C21.313 36.7533 20.588 36.5853 19.95 36.3383C19.2823 36.0878 18.6775 35.6942 18.178 35.1853C17.6694 34.6854 17.276 34.0807 17.025 33.4133C16.777 32.7763 16.61 32.0503 16.56 30.9853C16.512 29.9193 16.5 29.5803 16.5 26.8633C16.5 24.1463 16.51 23.8073 16.56 22.7413C16.61 21.6753 16.777 20.9513 17.025 20.3133C17.2752 19.6455 17.6688 19.0406 18.178 18.5413C18.6777 18.0325 19.2824 17.639 19.95 17.3883C20.587 17.1403 21.312 16.9733 22.377 16.9233C23.444 16.8763 23.783 16.8633 26.5 16.8633Z"
                            fill="#F60EA6"></path>
                    </g>
                    <defs>
                        <clippath id="clip0_2372_3097">
                            <rect width="21" height="21" fill="white" transform="translate(16 16)"></rect>
                        </clippath>
                    </defs>
                </svg> </a>
            <a class="w-inline-block" href="https://www.tiktok.com/@hellonuchu" data-hover="button"> <svg xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 53 53" fill="none" class="image_xxl">
                    <rect width="53" height="53" rx="26.5" fill="white"></rect>
                    <path
                        d="M31.3296 19.7239C30.6118 18.9045 30.2163 17.8522 30.2166 16.7629H26.9721V29.7829C26.9471 30.4875 26.6496 31.1549 26.1423 31.6445C25.6351 32.1342 24.9576 32.4078 24.2526 32.4079C22.7616 32.4079 21.5226 31.1899 21.5226 29.6779C21.5226 27.8719 23.2656 26.5174 25.0611 27.0739V23.7559C21.4386 23.2729 18.2676 26.0869 18.2676 29.6779C18.2676 33.1744 21.1656 35.6629 24.2421 35.6629C27.5391 35.6629 30.2166 32.9854 30.2166 29.6779V23.0734C31.5322 24.0183 33.1118 24.5252 34.7316 24.5224V21.2779C34.7316 21.2779 32.7576 21.3724 31.3296 19.7239Z"
                        fill="#F60EA6"></path>
                </svg> </a>
            <a class="w-inline-block" href="https://www.linkedin.com/company/hellonuchu" data-hover="button"> <svg xmlns="http://www.w3.org/2000/svg"
                    viewbox="0 0 53 53" fill="none" class="image_xxl">
                    <rect width="53" height="53" rx="26.5" fill="white"></rect>
                    <path
                        d="M20.6629 19.2444C20.6626 19.8013 20.4411 20.3353 20.0471 20.729C19.653 21.1226 19.1188 21.3436 18.5618 21.3433C18.0049 21.343 17.4709 21.1215 17.0772 20.7275C16.6836 20.3335 16.4626 19.7992 16.4629 19.2423C16.4632 18.6853 16.6847 18.1513 17.0787 17.7576C17.4727 17.364 18.007 17.143 18.5639 17.1433C19.1209 17.1436 19.6549 17.3651 20.0486 17.7591C20.4422 18.1532 20.6632 18.6874 20.6629 19.2444ZM20.7259 22.8984H16.5259V36.0444H20.7259V22.8984ZM27.3619 22.8984H23.1829V36.0444H27.3199V29.1459C27.3199 25.3029 32.3284 24.9459 32.3284 29.1459V36.0444H36.4759V27.7179C36.4759 21.2394 29.0629 21.4809 27.3199 24.6624L27.3619 22.8984Z"
                        fill="#F60EA6"></path>
                </svg> </a>
        </div>
    </div>
</div>


<script>
// Get the necessary elements
const passwordBtn = document.querySelector('.password_btn');
const passwordAdminWrapper = document.querySelector('.password-admin_wrapper');
const passwordAdminContent = document.querySelector('.password-admin_content');

// Add a click event listener to the password button
passwordBtn.addEventListener('click', () => {
  // Toggle the display of the password admin wrapper
  passwordAdminWrapper.style.display = (passwordAdminWrapper.style.display === 'none') ? 'flex' : 'none';

  // Slide up the password admin content
  if (passwordAdminWrapper.style.display === 'flex') {
    passwordAdminContent.style.transform = 'translateY(0)';
    passwordAdminContent.style.transition = 'transform 0.5s ease-in-out';
  } else {
    passwordAdminContent.style.transform = 'translateY(-100vh)';
    passwordAdminContent.style.transition = 'transform 0.5s ease-in-out';
  }
});


</script>

{% schema %} {"tag":"section","name":"password","class":"password_overlay","settings":[{"id":"url_link","type":"url","label":"link"}],"presets":[{"name":"password","category":"Liquify"}]} {% endschema %}