<div class="login_form w-form">{% form 'storefront_password' , class: 'form_form is-password' %}
<svg class="image_xxl" viewbox="0 0 30 40" fill="currentcolor" height="100%"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.266724V39.7334H10.7508C10.7508 39.7334 10.8861 38.9467 10.8861 37.7357C10.8861 34.9514 10.2721 30.0142 6.29647 26.3294C3.21589 23.4934 2.529 19.0737 2.529 15.5027C2.529 12.3458 3.08059 9.93414 3.08059 9.93414L18.2129 39.7334H30.4V0.266724H19.5867C19.5867 0.266724 19.3161 1.15687 19.3161 2.74051C19.3161 4.73816 19.7949 7.84333 21.918 11.5178C25.1339 17.0864 26.9135 21.2887 26.9135 29.7555C26.9135 31.2252 26.9135 32.8606 26.7782 34.6409L9.58521 0.266724H0Z" fill="currentColor"></path></svg><div class="form_field-wrapper"><input class="form-input password w-input" maxlength="256" name="password" data-name="password" placeholder="Password" type="password" id="password" required="">
</div><div class="button-group"><input type="submit" data-wait="" class="button w-button" value="continue">
</div>{% endform %}
<div class="w-form-done"><div>Thank you! Your submission has been received!</div></div><div class="w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div></div>

{% schema %}
    {"tag":"section","name":"password","class":"section_under-construction","settings":[],"presets":[{"name":"password","category":"Liquify"}]}
{% endschema %}
