<style>
 .response {
    position: absolute;
    top: 0;
    left: 0;  
    background: #ffecff;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    font-weight: 500;
    text-align: center;
  }
</style>

<div class="popup_container">
  <button class="popup_close">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48" fill="none"> 
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.31802 1.31802C3.07538 -0.43934 5.92462 -0.43934 7.68198 1.31802L23.75 17.386L39.818 1.31802C41.5754 -0.43934 44.4246 -0.43934 46.182 1.31802C47.9393 3.07538 47.9393 5.92462 46.182 7.68198L30.114 23.75L46.182 39.818C47.9393 41.5754 47.9393 44.4246 46.182 46.182C44.4246 47.9393 41.5754 47.9393 39.818 46.182L23.75 30.114L7.68198 46.182C5.92462 47.9393 3.07538 47.9393 1.31802 46.182C-0.43934 44.4246 -0.43934 41.5754 1.31802 39.818L17.386 23.75L1.31802 7.68198C-0.43934 5.92462 -0.43934 3.07538 1.31802 1.31802Z" fill="#F60EA6"></path>
    </svg>
  </button>
  
  <div class="popup_img" style="background-image:url('{{ 'popup_img.jpg' | asset_url }}')">
  </div>
  
  
  <div class="popup_content_wrapper">
    <div id="w-node-f91a8ed6-9a6f-9f6c-2209-30ddf2feebdb-07f8c27d" class="popup_content">
      <div class="w-layout-vflex spacing_1">
        <h2 class="heading_small">{{ settings.promo_heading | default: "10% off your first order" }}</h2>
        <p class="ts_maxwidth_40">   {{ settings.promo_paragraph | default: "Subscribe to receive 10% off your first order, along with product updates and exclusive offers!" }}</p>
      </div>

      
      <div id="mc_embed_signup" style="width:100%">
        <form action="https://mynuchu.us17.list-manage.com/subscribe/post?u=aa69f16bb91c7bcfe77681908&amp;id=dbb7ffca2c&amp;f_id=00d11ce1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div class="w-layout-vflex spacing_1 ts_maxwidth_40">
            <input type="text" name="FNAME" id="mce-FNAME" required="" placeholder="your name" class="footer_form-input is-pink full-width">
            <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="email address" value="" required="" class="footer_form-input is-pink full-width">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button is-pink" value="Subscribe" class="button is-pink" style="border:none!important;margin-bottom:1rem">
            <div hidden=""><input type="hidden" name="tags" value="4873122"></div>
            <p class="text-size-small ">  {{ settings.promo_disclaimer | default: "By subscribing, you agree to receive marketing emails from us. You may unsubscribe at any time" }} </p>
            <div aria-hidden="true" style="position: absolute; left: -5000px;"><input type="text"
              name="b_aa69f16bb91c7bcfe77681908_dbb7ffca2c" tabindex="-1" value=""></div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


{% schema %}
{
"name": "Popup",
"class": "offer-popup_wrapper",
"settings": [
  {
    "type": "text",
    "id": "promo_heading",
    "label": "Promo Heading",
    "default": "10% off your first order"
  },
  {
    "type": "textarea",
    "id": "promo_paragraph",
    "label": "Promo Paragraph",
    "default": "Subscribe to receive 10% off your first order, along with product updates and exclusive offers!"
  },
  {
    "type": "text",
    "id": "submit_button_text",
    "label": "Submit Button Text",
    "default": "submit"
  },
  {
    "type": "textarea",
    "id": "promo_disclaimer",
    "label": "Promo Disclaimer",
    "default": "By subscribing, you agree to receive marketing emails from us. You may unsubscribe at any time"
  },


]
}
{% endschema %}