<div lowercase="" class="w-layout-blockcontainer ohmygummies_container w-container"><h1 li-object="page.title" class="heading_big">{{ page.title }}</h1><div li-object="page.content" class="text-size-medium w-richtext">{{ page.content }}</div><a li-object:href="routes.root_url" li-object="'Confirmination-Pages.Signup-Confirmination.Button' | t" href="{{ routes.root_url }}" class="button is-white w-button">{{ 'Confirmination-Pages.Signup-Confirmination.Button' | t }}</a><div class="hide w-embed"><style>body{
    --utility--body-fill: var(--color--pink-light) !important;
    --utility--product-medium: var(--color--lilac-medium) !important;
    --utility--product-dark: var(--color--lilac-dark) !important;
    --utility--product-light: var(--color--lilac-light) !important;
  }
  .page-wrapper,
  .main-wrapper,
  .main-wrapper {
    display: flex!important;
    flex-direction: column;
  }
  .page-wrapper {
    min-height: 100vh;
  }
  .main-wrapper {
    height: 100%;
    flex-grow: 1;
  }
  .footer {
    margin-top: auto;
  }
  .navbar_logo-link{
    color:var(--color--blue);
  }
  .login_video-wrapper {
    .button {
      background-color:var(--color--lilac-medium);
    }}
</style></div></div> {% schema %} {"tag":"section","name":"signup_thank_you","class":"section_ohmygummies is-light","presets":[{"name":"signup_thank_you","category":"Liquify"}]} {% endschema %}